
body {
    background-image: url("img/piggy.jpg");
}
.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
label {
    padding: 6px;
}

div {
    padding: 30px;
}

.registration {
    color:white;
    font-size: 50px;
}

#submit {
    margin-top: 20px;
}